<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
</head>
<body>

<div id='container'>
  <nav>
    <ul>
      <li><a href="/">Videos</a></li>
      <li><a href="/new">Add Video</a></li>
    </ul>

  </nav>

  <%= yield %>


</div>
</body>
</html>