 
  <form action="/video" method="post">

        <input class='formElement' id="title" type="text" name="title" class="validate" placeholder='Video Title'>

        <textarea id='textArea' class='formElement'id="description" type="text" name="description" class="validate" placeholder='Video Description'></textarea>

        <input class='formElement'id="description" type="text" name="urlsnipp" class="validate" placeholder='YouTube URL e.g. www.youtube.com/j83987k'>
  
   
    <button class='formElement' class='submitButton'type="submit" name="add_video">Add Video to Library</button>
    
  </form>