  <form action="/video" method="post">

        <input id="task" type="text" name="name" class="validate">
        <label for="title">Title</label>

        <input id="description" type="text" name="description" class="validate">
        <label for="description">Description</label>

        <input id="description" type="text" name="urlsnipp" class="validate">
        <label for="urlsnipp">YouTube URL</label>
   
    <button type="submit" name="add_video">Add
    </button>
  </form>